:root {
  --mainColor: #001F3F;
  --accentColor: white;
  --mainText: #0074D9;
  --accentText: rgb(255, 255, 255);
}

h1 {
  font-size: 30px;
  color: var(--mainColor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
}

h2 {
  font-size: 20px;
  color: var(--mainColor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

h3 {
  margin-top: 0;
  font-size: 15px;
}


.home {
  width: 100%;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--mainColor);
}

.heroContent {
  display: flex;
}

.image-cropper {
  width: 125px;
  height: 125px;
  position: relative;
  margin-top: -50px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.wrapper img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}


.about {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--accentColor);
  padding: 20px 0 20px 0;
}

.about h1 {
  margin-bottom: 0px;
}

.about h2 {
  margin-top: 0;
}

.about p {
  font-size: 20px;
  color: #001F3F;
  max-width: 600px;
  width: 100%;
}

.herotext {
  padding-left: 2vw;
}

.heroWrapper {
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
}

button {
  background-color: var(--mainColor); 
  border: none;
  color: var(--backgroundGrey);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 0 20px;
  border-radius: 6px;
  transition-duration: 0.4s;
  border: 2px solid var(--mainColor);
}

button:hover {
  background-color: var(--backgroundGrey);
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
}

.navbar .socialMedia {
  color: white;
  margin: 0px 20px 0px 20px;  
  font-size: 20px;
  cursor: pointer;
}

.githubIcon {
  transform: scale(0.8);
}

.wrapper {
  padding: 0 6vw 0 6vw;
  display: flex;
  flex-wrap: wrap;
}

.title {
  width: 190px;
  margin-right: 20px;
  flex-shrink: 0;
}

hr {
  width: 100%;
  color: grey;
  margin-bottom: 100px;
  margin: 0 0 40px 0;
}

.projectBar {
  width: 90%;
}

.spacer {
  width: 125px;
  height: 100%;
  flex-shrink: 0;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0 0 2vw;
}

.row2 {
  display: flex;
}

.rowContent {
  padding-left: 50px;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: var(--mainText);
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

.list {
  padding: 0;
}

.skills h2 {
  margin: 20px 0 20px 0;
}

.skillTile {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 4vw 20px;
    flex-shrink: 0;
  }


 .row {
  flex-direction: column;
 }


  .skills {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

