:root {
  --mainColor: #001F3F;
  --accentColor: white;
  --mainText: #0074D9;
  --accentText: rgb(255, 255, 255);
}

h1 {
  font-size: 40px;
  color: var(--mainText);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  color: var(--mainColor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
}

h3 {
  margin-top: 0;
}


.home {
  width: 100%;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--mainColor);
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 50px 6vw 50px 6vw;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.hero img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}


.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--accentColor);
  padding: 100px 0 100px 0;
}

.about h1 {
  margin-bottom: 0px;
}

.about h2 {
  margin-top: 0;
}

.about p {
  font-size: 20px;
  color: #001F3F;
}

.herotext {
  padding: 0 6vw 0 6vw;
}

.skillsWrapper {
  padding: 0 6vw 0 6vw;
  display: flex;
  flex-wrap: wrap;
}

.skillTitle {
  width: 190px;
  margin-right: 20px;
  flex-shrink: 0;
}

.skillsRow {
  display: flex;
  justify-content: center;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: var(--mainText);
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

.list {
  padding: 0;
}

.skills h2 {
  margin: 20px 0 20px 0;
}

.skillTile {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 4vw 20px;
    flex-shrink: 0;
  }


  .toggle .labels {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    color: #4d4d4d;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    top: 40px;
    right: 15px;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }


  .skills {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

