:root {
    --mainColor: #001F3F;
    --accentColor: white;
    --mainText: #0074D9;
    --accentText: rgb(232, 232, 149);
}

.navbar {
    width: 100%;
    height: 110px;
    background: var(--mainColor);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.links {
    height: 100%;
    display: flex;
    justify-content: center;
    color: var(--accentColor);
    margin-top: 10px;
}


.navbarSocialMedia svg {
    color: white;
    margin: 20px;
    font-size: 40px;
    cursor: pointer;
  }


.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 15px;
}



.toggleButton svg {
    font-size: 50px;
}

.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: var(--accentColor);
    cursor: pointer;
}

#open {
    height: 100vh;
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
}

#open a {
    width: 100%;
    text-align: center;
}
