.resumeContainer {
    margin: 50px 12vw 50px 12vw;
}

h1 {
    margin-bottom: 0;
}

hr {
    margin-bottom: 10px;
}

p {
    margin: 10px;
}

.resumeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumeSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devExperience p {
    margin: 5px 10px;
}

.resumeTitle {
    display: flex;
    justify-content: space-between;
}

.companyTitle {
    display: flex;
    white-space: pre;
    align-items: center;
}

.companyTitle h3{
    margin-bottom: 0;
}